
__pycache__/aldo.cpython-38.pyc
__pycache__/channels.cpython-38.pyc
__pycache__/checkrep.cpython-38.pyc
__pycache__/dreg_help.cpython-38.pyc
__pycache__/filtermsg.cpython-38.pyc
__pycache__/join.cpython-38.pyc
__pycache__/linkforum.cpython-38.pyc
__pycache__/messages.cpython-38.pyc
__pycache__/ratio.cpython-38.pyc
__pycache__/resources.cpython-38.pyc
__pycache__/roles.cpython-38.pyc
__pycache__/status.cpython-38.pyc
__pycache__/streamnotifier.cpython-38.pyc
__pycache__/togglefilter.cpython-38.pyc
__pycache__/togglerole.cpython-38.pyc
dreg.log
